@model IEnumerable<DogDC.Models.Pet>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details - Multi Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li>Omistajan sivut</li>
                <li>Lemmikki</li>
            </ol>
            <h2>Lemmikkisi tiedot</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <p>
        <a asp-action="Create">Lisää uusi lemmikki</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nimi
                </th>
                <th>
                    Kuva
                </th>
                <th>
                    @Html.ActionLink("Omistaja", "Index", new { sortOrder = ViewBag.CustomerSortParm })
                    @*Omistaja*@
                </th>
                <th>
                    @Html.ActionLink("Ryhmä", "Index", new { sortOrder = ViewBag.GroupSortParm })
                    @*Ryhmä*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <img src="@(item.BlobUrl !=null ? item.BlobUrl :"https://mdbootstrap.com/img/new/standard/nature/184.jpg")" class="img-fluid" alt="...">
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item?.Id">Muokkaa</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Tiedot</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Poista </a>
                    </td>
                </tr>
            }

</main><!-- End #main -->
    </tbody>
</table>
